<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
	<body>
		<div>
 			<h1>Login</h1>
			<form action="index.html" method="post">
		  	<label for="email">email</label>
		  	<input type="text" id="email" name="email"/> 
		  	<label for="password">password</label>
		  	<input type="password" id="password" name="password"/>
			<button type="submit">Sign In</button>
		
 			</form>
 		 	<a href="usermanager.html">
 				<button>Sign Up</button>
 			</a>
		</div>
	</body>
</html>