@charset "UTF-8";

#form{
	margin-top: 50px;
	background-color:#efefef;
}

.cinguett{
	margin: 20px;
	background-color:#ecbf72;
}

#cinguett_user_image{
	vertical-align: bottom;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}

.comment{
	float:right;
}

.sign{
	width:120px;
	height:40px;
	margin-right: 40px;
}

textarea{
	resize: none;
}