@charset "UTF-8";

#form{
	margin-top: 50px;
	background-color:#efefef;
}

.cinguett{
	margin: 20px;
	background-color:#ecbf72;
}

.comment{
	margin: 20px;
	background-color:#f78335;
}

.cinguett-back{
	background-color: #fccd7b;
}

.cinguett_text{
	font-size: 20px;
}

.comment-button{
	float:right;
}

.sign{
	width:120px;
	height:40px;
	margin-right: 40px;
}