@charset "UTF-8";

#form{
	margin-top: 50px;
	margin-bottom: 50px;
	/*background-color:#efefef;*/
}

.cinguett{
	margin: 30px;
	background-color: #fccd7b;
}

.comment{
	margin: 20px;
	background-color:#cda764;
}

.comment-back{
	background-color:#ecbf72;
}

.cinguett-back{
	background-color:#ecbf72;
}

.cinguett-text{
	font-size: 20px;
}

.comment-button{
	float:right;
}

.sign{
	width:120px;
	height:40px;
	margin-right: 40px;
}