<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		
		<!--  <link rel="stylesheet" type="text/css" href="style.css"> -->
		<!--  <script type="text/javascript" src="myJavascript.js"></script> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../../jQuery/jquery-3.4.1.min.js"></script>
		
		<title>Login</title>
	</head>
	<body>
	
		<nav class="col-lg-12 col-md-12 col-sm-12">		
			<a class="navlink" href="../home.html">Home</a>
			<a class="navlink" href="../usermanager.html">My Profile</a>
			<a class="navlink" href="login.html">Login</a>
		</nav>
		
		<div class="row col-lg-12 col-md-12 col-sm-12">
			
			<div class="col-lg-3 col-md-3 col-sm-3">
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6">
	 			<h1>Login</h1>
				<form action="index.html" method="post">
			  	<label for="email">email</label>
			  	<input type="text" id="email" name="email"/> 
			  	<label for="password">password</label>
			  	<input type="password" id="password" name="password"/>
				<button type="submit">Sign In</button>
			
	 			</form>
	 		 	<a href="../usermanager.html">
	 				<button>Sign Up</button>
	 			</a>
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-3">
			</div>
	</body>
</html>